
.error{ 
    padding:40px 0; 
    background:#fff; 
    font-family: 'Arvo', serif;
}

.error  img{ 
    width:100%;
}

.four_zero_four_bg{
    background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
}
 
.four_zero_four_bg h1{
    font-size:80px;
}
 
.four_zero_four_bg h3{
    font-size:80px;
}
			 
.link_404{			 
    color: #fff !important;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;
    padding: 17px 31px;
    text-decoration: none;
    border-radius: 21px;
    font-size: 2.5rem;
}
.contant_box_404{ 
    margin-top:-50px;
    font-size: 2rem;
}

.col {
    width: 100%;
}