.footer {
    background-color: $color-grey-dark-3;
    padding: 10rem 0;
    font-size: 1.4rem;
    color: $color-grey-light-1;

    @include respond(tab-port) {
        padding: 8rem 0;
    }

    &__logo-box {
        display: flex;
        justify-content: center;
        margin-bottom: 5rem;

        @include respond(tab-port) {
            margin-bottom: 6rem;
        }
    }  

    &__logo {
        width: 15rem;
        height: 10rem;
        background-image: url(../assets/logo-green-1x.png);
        background-size: contain;
        background-repeat: no-repeat;
        clip-path: polygon( 0 0, 100% 0 , 100% 70%, 0 70%);
    }
    
    &__navigation {
        border-top: 1px solid $color-grey-dark;
        padding-top: 2rem;
        display: inline-block;

        @include respond(tab-port) {
            width: 100%;
            text-align: center;
        }
    }

    &__list {
        list-style: none;
    }

    &__item {
        display: inline-block;

        &:not(:last-child) {
            margin-right: 1.5rem;
        }
    }

    &__link {
        &:link,
        &:visited {
            text-decoration: none;
            text-transform: uppercase;
            color: #f7f7f7;
            background-color: #402b1e;
            display: inline-block;
            transition: all .3s;
            padding: 2px;
            font-family: ui-monospace;
        }   

        &:hover,
        &:active {
            color: $color-primary;
            box-shadow: 0 1rem 2rem rgba($color-black, .4);
            transform: translateY(-3px) skewY(-7deg); // rotate(5deg) scale(1.1);
        }
    }

    &__copyright {
        border-top: 1px solid $color-grey-dark;
        padding-top: 2rem;
        float: right;

        @include respond(tab-port) {
            width: 100%;
            float: none;
        }
    }

}

.row {
    display: flex;
    justify-content: space-around;
}