/*
* Media queries for break points:
* 0-600px Mobile
* 600px-900px Tablet-portrait
*900px-1200px Tablet-landscape
* 1800 above Big desktop
onlt-screen: media query applies only on screen not printed version
*/
table {
  border-spacing: 1;
  border-collapse: collapse;
  background: var(--color-grey-light-1);
  border-radius: 6px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative; }
  table * {
    position: relative; }
  table td, table th {
    padding: 10px 25px; }
  table thead tr {
    height: 60px;
    background: #efe6e6;
    font-size: 16px; }
  table tbody tr {
    height: 48px;
    cursor: pointer;
    border-bottom: 1px solid #E3F1D5;
    font-size: 16px;
    font-weight: 500; }
    table tbody tr:last-child {
      border: 0; }
  table td {
    text-align: center;
    font-family: monospace; }
    table td:first-child {
      text-align: left;
      font-family: cursive; }
  table th {
    text-align: center;
    font-family: monospace; }
    table th:first-child {
      text-align: left; }

.green {
  background-image: linear-gradient(to right bottom, #579a57, #065d06); }

.red {
  background-image: linear-gradient(to right bottom, #e47e7e, #da1212); }

.orange {
  background-image: linear-gradient(to right bottom, #f3b84d, #de940b); }

.yellow {
  background-image: linear-gradient(to right bottom, #dede16, #a2a210); }

.lightGreen {
  background-image: linear-gradient(to right bottom, #a6efa6, #08ca08); }

.maroon {
  background-image: linear-gradient(to right bottom, #d81616, #5d0b0b); }

@media screen and (max-width: 35.5em) {
  table {
    display: block; }
    table > *, table tr, table td, table th {
      display: block; }
    table thead {
      display: none; }
    table tbody tr {
      height: auto;
      padding: 8px 0px;
      cursor: pointer; }
      table tbody tr td {
        padding-left: 45%;
        margin-bottom: 12px; }
        table tbody tr td:last-child {
          margin-bottom: 0; }
        table tbody tr td:before {
          position: absolute;
          font-weight: 700;
          width: 40%;
          left: 10px;
          top: 0; }
        table tbody tr td:nth-child(1):before {
          content: "City"; }
        table tbody tr td:nth-child(2):before {
          content: "Current A.Q.I"; }
        table tbody tr td:nth-child(3):before {
          content: "Status"; }
        table tbody tr td:nth-child(4):before {
          content: "Last Updated"; } }

:root {
  --color-primary: #eb2f64;
  --color-primary-light: #FF3366;
  --color-primary-dark: #BA265D;
  --color-secondary: rgb(151, 36, 65);
  --color-secondary-light: rgb(231, 126, 152);
  --color-white: #fff;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --color-grey-dark-4: #e4cccc;
  --color-black-dark-1: #170303;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, .06);
  --line: 1px solid var(--color-grey-light-2);
  --line-dark: 1px solid var(--color-secondary); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 68.67em) {
    html {
      font-size: 50%; } }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-black-dark-1);
  background-image: linear-gradient(to right bottom, #010201, #000a03), url(../assets/nat-10.jpg);
  background-size: inherit;
  background-repeat: no-repeat;
  background-blend-mode: screen;
  min-height: 100vh;
  box-sizing: border-box; }
  @media only screen and (max-width: 75em) {
    body {
      background-size: cover; } }

blockquote {
  color: white;
  text-align: center; }

.container {
  max-width: 80rem;
  margin: 15rem auto;
  box-shadow: var(--shadow-dark);
  min-height: 68vh; }
  @media only screen and (max-width: 75em) {
    .container {
      margin: 0;
      max-width: 80%;
      margin: 15rem auto;
      width: 100%; } }
  .container__link {
    text-decoration: none;
    font-family: ui-rounded;
    position: fixed;
    top: 10rem;
    left: 50%;
    transform: translate(-50%); }
  .container__button {
    color: #0c0101;
    font-size: 3rem;
    padding: 5px 10px;
    box-shadow: 0 0rem 1rem #7b6d6d;
    border-radius: 5px;
    background-image: linear-gradient(to right bottom, #80e2d5, #127b63); }

.header {
  width: 100vw;
  min-height: 8rem;
  position: fixed;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right bottom, #5584a9, #e2b96ee0);
  z-index: 9;
  box-shadow: 0 0.5rem 6rem #b5a4a4; }
  .header__logo {
    background-image: url(../assets/logo-white.png);
    height: 5rem;
    width: 6rem;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 1%; }
    .header__logo--text {
      position: absolute;
      left: 100%;
      font-size: 1.2rem;
      font-family: monospace;
      color: #e0c99d; }

.footer {
  width: 100%;
  min-height: 20rem;
  background-image: linear-gradient(to right bottom, #000000, #0b4213); }

.back_button {
  font-size: 4rem;
  padding: 4px; }

.details {
  margin: 15rem auto;
  min-height: 68vh; }
  @media only screen and (max-width: 75em) {
    .details {
      margin: 0;
      max-width: 80%;
      margin: 15rem auto;
      width: 100%; } }
  .details__box {
    min-height: 60vh;
    box-shadow: 0 -0.5rem 5rem #b5a4a4;
    background-image: linear-gradient(to right bottom, #95d2a6, #050d357a);
    max-width: 90vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 5px; }
  .details__header {
    font-size: 50px;
    font-family: monospace;
    font-weight: 900;
    text-transform: uppercase;
    color: #196347; }
  .details__plots {
    display: flex;
    justify-content: space-around;
    margin: 10px;
    width: fit-content;
    align-self: center; }
    @media only screen and (max-width: 75em) {
      .details__plots {
        flex-direction: column; } }
  .details__link {
    text-decoration: none;
    margin: 0 auto; }

.js-plotly-plot {
  box-shadow: 0 0.5rem 2rem #b5a4a4;
  border: 8px solid #508a68; }

.footer {
  background-color: #333;
  padding: 10rem 0;
  font-size: 1.4rem;
  color: #f7f7f7; }
  @media only screen and (max-width: 56.25em) {
    .footer {
      padding: 8rem 0; } }
  .footer__logo-box {
    display: flex;
    justify-content: center;
    margin-bottom: 5rem; }
    @media only screen and (max-width: 56.25em) {
      .footer__logo-box {
        margin-bottom: 6rem; } }
  .footer__logo {
    width: 15rem;
    height: 10rem;
    background-image: url(../assets/logo-green-1x.png);
    background-size: contain;
    background-repeat: no-repeat;
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0 70%); }
  .footer__navigation {
    border-top: 1px solid #777;
    padding-top: 2rem;
    display: inline-block; }
    @media only screen and (max-width: 56.25em) {
      .footer__navigation {
        width: 100%;
        text-align: center; } }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link:link, .footer__link:visited {
    text-decoration: none;
    text-transform: uppercase;
    color: #f7f7f7;
    background-color: #402b1e;
    display: inline-block;
    transition: all .3s;
    padding: 2px;
    font-family: ui-monospace; }
  .footer__link:hover, .footer__link:active {
    color: #1281d6;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: translateY(-3px) skewY(-7deg); }
  .footer__copyright {
    border-top: 1px solid #777;
    padding-top: 2rem;
    float: right; }
    @media only screen and (max-width: 56.25em) {
      .footer__copyright {
        width: 100%;
        float: none; } }

.row {
  display: flex;
  justify-content: space-around; }
